*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* First NAV */

.first-nav{
    margin: 0px 2vw;
    padding: 8px;
    background-color: #d3d3d3;
}
.first-container{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.f-navlink{
    gap: 8vw;
    display: flex;
}
.f-navlink a{
    text-decoration: none;
}

/* Second Nav */
.container{
    margin: 0px 2vw;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}

.nav-brand a{
    text-decoration: none;
}

.navbar ul{
    display: flex;
    gap: 5vw;
    
}

.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
}