*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: aliceblue;
    padding: 8px;
}

/* HEADER COMPONENT CSS */

/* First NAV */

.first-nav{
    margin: 0px 2vw;
    padding: 8px;
    background-color: #D3D3D3
}
.first-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.f-navlink{
    gap: 8vw;
    display: flex;
}
.f-navlink a{
    text-decoration: none;
}

/* Second Nav */
.container{
    margin: 0px 2vw;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.nav-brand a{
    text-decoration: none;
}

.navbar ul{
    display: flex;
    gap: 2vw;
    
}

.navbar ul li{
    list-style: none;
}

.navbar ul li :hover{
    color : #535bf2;
    border-bottom: 2px solid #d3d3d3;
}

.navbar ul li .active{
    color: #535bf2;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
}

/* Footer Component CSS */
.footer{
    margin: 5vh;
    padding: 40px;
    background: #d3d3d3;
}

.foot-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}

.one{
    flex: 1.5;
}

.two,
.three,
.news{
    flex: 1;
}

.shop,
.exp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one img{
    width: 50px;
    height: auto;
}
.input{
    margin-top: 10px;
}

/* Error Page CSS */
#error-text{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#error-text img{
    height: 50vh;
    width: 50vh;
}
.text-center{
    font-size: 3vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    margin-top: 8px;
    height: 30px;
    min-width: 12vw;
    background-color: red;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.btn:hover{
  background-color: peachpuff;
  color: red;
}

/* MOVIES CSS */
.cards-container{
    padding: 8px;
    background-color: #fff;
}
.cards-list{
    list-style: none;
    margin: 50px;
}
.movie-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2px;
    justify-items: center;
    margin: 12vh;
}
.cards-img img{
    min-height: 4vh;
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.cards-btn{
    width: 100%;
    background-color: #d3d3d3;
}

/* LOADING CSS */
.loader-container{
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    height: 100px;
    width: 100px;
    /* background-color: red; */
    border-radius: 50%;
    border: 5px solid #ddd;
    border-top-color: #333;
    animation: Loader 1s infinite;
}

@keyframes Loader {
    100%{
        rotate: 360deg;
    }
    
}