*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: aliceblue;
    padding: 8px;
}

/* HEADER COMPONENT CSS */

/* First NAV */

.first-nav{
    margin: 0px 2vw;
    padding: 8px;
    background-color: #D3D3D3
}
.first-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.f-navlink{
    gap: 8vw;
    display: flex;
}
.f-navlink a{
    text-decoration: none;
}

/* Second Nav */
.container{
    margin: 0px 2vw;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.nav-brand a{
    text-decoration: none;
}

.navbar ul{
    display: flex;
    gap: 2vw;
    
}

.navbar ul li{
    list-style: none;
}

.navbar ul li :hover{
    color: blue;
    border-bottom: 2px solid blue;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
}

/* Footer Component CSS */
.footer{
    margin: 5vh;
    padding: 40px;
    background: #d3d3d3;
}

.foot-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}

.one{
    flex: 1.5;
}

.two,
.three,
.news{
    flex: 1;
}

.shop,
.exp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.one img{
    width: 50px;
    height: auto;
}
.input{
    margin-top: 10px;
}